<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="32101">
	<!-- <setting label="32110" type="text"   id="xml_update_url" default="http://dl.gmlblog.de/deutschesender.xml"/> -->
    <setting label="32110" type="text"   id="xml_update_url" default="https://raw.githubusercontent.com/YggdrasiI/plugin.video.deutsche_sender/master/deutschesender.xml"/>
    <setting label="32111" type="text"   id="xml_filename" default="deutschesender.xml"/>
    <setting label="32112" type="action" action="RunScript(plugin.video.deutsche_sender, update_xml_file)"/>
		<setting label="32215" id="force_view" type="enum"
			lvalues="32216|32217|32218" default="0"/>
  </category>
</settings>


